@mixin input-styles{
  padding: 1.2rem;
  width: unset;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: map-get($theme-colors, project-white);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:checked{
    background-color: map-get($theme-colors, primary);
  }
}