@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import 'variables';
@import 'mixins';

body {
  width: 100%;
  min-height: 100vh;
  padding: 4em 0;
  margin: 0;
  position: relative; 
  background-image: url("https://images.pexels.com/photos/1181263/pexels-photo-1181263.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: map-get($theme-colors, project-white);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1{
  font-family: 'Playfair Display', serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, map-get($theme-colors, primary), map-get($theme-colors, secondary));
  z-index: -1;
}

body * {
  position: relative;
  z-index: 1;
}

fieldset{
  margin: 2.5em 0;
}

input,
textarea,
select {
  font-family: Roboto;
  border: none;
  width: 100%;
  min-height: 1em;
  border-radius: 50px;
  padding: 1.5em 0;
  margin: 1.5rem 0;
  background-color: map-get($theme-colors, project-white);
  text-align: center;
  font-size: 1.1em;
  transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid map-get($theme-colors, outline); 
  background-color: #fff;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

#description{
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
}

form {
  padding: 2em 4em;
  border-radius: 50px;
  width: 60vw;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  background: rgba(0,0,0, 0.3)
}

fieldset{
  border: none;
}

select{
  text-align: center;
}

input[type="checkbox"]{
  padding: 1.2rem;
  margin-right: .5rem;
  font-size: .5em;
  width: unset;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: map-get($theme-colors, project-white);
  cursor: pointer;
  border-radius: .3em;
  transition: background-color 0.3s ease-in-out;
}

input[type="checkbox"]:checked{
  background-color: map-get($theme-colors, primary);
}

.eligibility p, .eligibility label{
  font-size: 1.5rem;
}

input[type="radio"]{
  padding: 1.2rem;
  font-size: 1rem;
  width: unset;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: map-get($theme-colors, project-white);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="radio"]:checked{
  background-color: map-get($theme-colors, primary);
}

.skills{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.5rem;
}

input[type="submit"]{
  display: block;
  width: 20%;
  margin: 2em auto;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: map-get($theme-colors, primary);
  border: none;
  color: #f5f6f7;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover{
  background-color: map-get($theme-colors, primary-hover);
}

input[type="submit"]:active{
  background-color: map-get($theme-colors, primary-active);
}

textarea{
  padding-bottom: 5em;
}

input::placeholder, textarea::placeholder {
    text-align: center;
}

#yes-label, #no-label{
  padding: 0 10px;
}