$theme-colors: (
  primary: rgba(160, 68, 255, 0.3),
  primary-hover: rgba(160, 68, 255, 0.4),
  primary-active: rgba(160, 68, 255, 0.2),
  secondary: rgba(106, 48, 147, 0.3),
  project-white: #f5f6f7,
  outline: #a044ff
);